In [18]:
import pandas as pd

# Load the dataset
file_path = 'C:/Users/CLARIS/Downloads/NIFTY50_all.csv'
nifty50_data = pd.read_csv(file_path)

# Display the first few rows to understand the structure
nifty50_data.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741

In [19]:
# Check data types and missing values
nifty50_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                235192 non-null  object
 1   Symbol              235192 non-null  object
 2   Series              235192 non-null  object
 3   Prev Close          235192 non-null  float64
 4   Open                235192 non-null  float64
 5   High                235192 non-null  float64
 6   Low                 235192 non-null  float64
 7   Last                235192 non-null  float64
 8   Close               235192 non-null  float64
 9   VWAP                235192 non-null  float64
 10  Volume              235192 non-null  int64
 11  Turnover            235192 non-null  float64
 12  Trades              120344 non-null  float64
 13  Deliverable Volume  219115 non-null  float64
 14  %Deliverble         219115 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 26.9+ MB

In [20]:
# Convert 'Date' column to datetime format
nifty50_data['Date'] = pd.to_datetime(nifty50_data['Date'], format='%Y-%m-%d')

In [21]:
# Handle missing values
nifty50_data['Trades'].fillna(-1, inplace=True)  # Fill missing trades with -1
nifty50_data['Deliverable Volume'].fillna(0, inplace=True)  # Fill missing deliverable volume with 0
nifty50_data['%Deliverble'].fillna(0, inplace=True)  # Fill missing deliverable percentage with 0

C:\Users\CLARIS\AppData\Local\Temp\ipykernel_36464\2344938517.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty50_data['Trades'].fillna(-1, inplace=True)  # Fill missing trades with -1
C:\Users\CLARIS\AppData\Local\Temp\ipykernel_36464\2344938517.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty50_data['Deliverable Volume'].fillna(0, inplace=True)  # Fill missing deliverable volume with 0
C:\Users\CLARIS\AppData\Local\Temp\ipykernel_36464\2344938517.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nifty50_data['%Deliverble'].fillna(0, inplace=True)  # Fill missing deliverable percentage with 0

In [22]:
# Convert 'Trades' to integer
nifty50_data['Trades'] = nifty50_data['Trades'].astype(int, errors='ignore')

In [23]:
nifty50_data.info()
nifty50_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                235192 non-null  datetime64[ns]
 1   Symbol              235192 non-null  object
 2   Series              235192 non-null  object
 3   Prev Close          235192 non-null  float64
 4   Open                235192 non-null  float64
 5   High                235192 non-null  float64
 6   Low                 235192 non-null  float64
 7   Last                235192 non-null  float64
 8   Close               235192 non-null  float64
 9   VWAP                235192 non-null  float64
 10  Volume              235192 non-null  int64
 11  Turnover            235192 non-null  float64
 12  Trades              235192 non-null  int32
 13  Deliverable Volume  235192 non-null  float64
 14  %Deliverble         235192 non-null  float64
dtypes: datetime64[ns](1), float64(10), int32(1), int64(1), object(2)
memory usage: 26.0+ MB

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.687719e+15,-1,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.312765e+14,-1,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550658e+14,-1,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.283257e+14,-1,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.875200e+14,-1,816123.0,0.2741

In [24]:
cleaned_file_path = 'C:/Users/CLARIS/Downloads/cleaned_nifty50_data.csv'
nifty50_data.to_csv(cleaned_file_path, index=False)